#contacto_page {
  background-image: url("../../assets/images/background-contacto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact {
  height: calc(100vh - 120px);
}

#contact h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

@media (max-width: 767px) {
  #contacto_page {
    background-position: top left;
  }

  #contact {
    height: auto;
  }

  #contact h2 {
    display: none;
  }

  .underline_image {
    display: none;
  }
}
