#contacto_page {
  background-image: url("../../assets/images/background-contacto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact {
  height: calc(100vh - 120px);
}

#contact h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}