#curiosidades_page {
  background-image: url("../../assets/images/background-curiosidades.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#curiosidades {
  height: calc(100vh - 120px);
  display: flex;
  gap: 100px;
}

.awards_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.awards_list li::marker {
  color: #00f3cc;
}

.highlight {
  color: #00f3cc;
}

#awards {
  height: 70vh;
}
