#home_body {
  background-image: url("../../assets/images/background-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home {
  display: flex;
  align-items: center;
  height: calc(100vh - 120px);
}

#hero {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  margin-left: 40px;
}

#avatar_image {
  width: 424px;
}

.text_box {
  padding: 10px 15px;
  border: 2px solid #147ca9;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #147ca9;
}

.intro {
  width: 40%;
}

@media (max-width: 1024px) {
  #hero {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  #avatar_image {
    width: 260px;
  }

  .intro {
    width: 100%;
  }
}
