#produccion_page {
  background-image: url("../../assets/images/background_produccion.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#produccion {
  height: calc(100vh - 120px);
  display: flex;
  gap: 100px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.divider img {
  height: auto;
  width: 249px;
}

.text_center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  max-width: 793px;
}

.text_center img {
  margin-top: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

#avatar_legacy {
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  #produccion {
    height: auto;
    gap: 75px;
  }

  .text_center {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .divider {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .divider img {
    width: 150px;
  }

  .text_center {
    align-items: center;
    max-width: 340px;
  }

  #avatar_legacy {
    margin-bottom: 100px;
  }

  #avatar_legacy .text_center {
    text-align: left;
  }
}
