footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 52px;
  width: 100%;
  background-color: var(--blue);
}

footer p {
  margin-right: 30px;
  text-transform: uppercase;
}

#footer_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#social_media {
  display: flex;
  gap: 25px;
}

#social_media img {
  height: 27px;
}

#social_media a {
  scale: 1;
  transition: scale 0.3s ease;
}

#social_media a:hover {
  scale: 1.2;
  transition: scale 0.3s ease;
}

@media (max-width: 767px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 32px 24px;
  }

  footer p {
    font-size: 0.8rem;
  }

  #social_media img {
    height: 20px;
  }
}