header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0px 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  letter-spacing: 1px;
}

.nav_item {
  text-transform: uppercase;
  color: white;
  opacity: 75%;
  transition: opacity 0.3s ease;
}

.nav_item:hover {
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.nav_active {
  opacity: 100%;
}
