@font-face {
  font-family: "Avatar";
  src: url("../assets/fonts/avatar-typography.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #002136;
}

body {
  font-family: "Montserrat", sans-serif;

  /* Esconder la scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Esconder la scrollbar */
::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "Avatar", sans-serif;
  font-weight: 500;
  color: white;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

p,
li,
figcaption {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  background-color: #f4f4f4;
  color: #1a1a1a;
  border-radius: 30px;
  padding: 10px 40px;
  text-transform: uppercase;

  transition: background-color 0.4s ease, scale 0.4s ease;
}

button:hover {
  background-color: #ffffff;
  scale: 1.03;
  transition: background-color 0.3s ease, scale 0.3s ease;
}

fieldset {
  border: none;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

figcaption {
  font-size: 0.7rem;
}

/* ESTILOS REUTILIZADOS EN VARIOS HTML */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.underline_image {
  width: 77px;
}

.central_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
  width: 100%;
}

.central_text h1 {
  font-size: 4rem;
  max-width: 700px;
}

.central_text p {
  max-width: 400px;
}

.central_text button {
  margin-top: 20px;
}

.column_text {
  display: flex;
  flex-direction: row;
  gap: 68px;
}

.column {
  width: 362px;
}

.column p {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  p,
  li,
  figcaption {
    font-weight: 300;
  }

  button {
    padding: 10px 30px;
    font-weight: 400;
  }

  .subtitle {
    justify-content: center;
  }

  .central_text {
    gap: 16px;
    width: 100%;
  }

  .central_text h1 {
    font-size: 1.5rem;
    width: 95%;
  }

  .central_text p {
    width: 95%;
  }

  .column_text {
    flex-direction: column;
    gap: 0px;
  }

  .hidden_mobile {
    display: none;
  }
}
