@font-face {
  font-family: "Avatar";
  src: url("../assets/fonts/avatar-typography.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #002136;
}

body {
  font-family: "Montserrat", sans-serif;

  /* esconder la scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Esconder la scrollbar */
::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

h1,
h2 {
  font-family: "Avatar", sans-serif;
  color: white;
}

h1 {
  font-size: 32px;
}

p,
li {
  max-width: 1200px;
  letter-spacing: 1px;
  color: white;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

img {
  border-radius: 10px;
}

/* ESTILOS REUTILIZADOS EN VARIOS HTML */

/* clase para poner el fondo de la página en color azul */
.blue_page {
  background-color: #025075;
}

/* agrega un margen de 40px a las imagenes que contienen esta clase */
.image_text {
  margin-top: 40px;
}

/* clase para centrar el título */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* clase para estilar a los textos dentro de las páginas */
.body_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  padding: 0px 150px;
}

.body_text p {
  text-align: center;
}