@font-face {
  font-family: "Avatar";
  src: url("../assets/fonts/avatar-typography.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #002136;
}

body {
  font-family: "Montserrat", sans-serif;

  /* Esconder la scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Esconder la scrollbar */
::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "Avatar", sans-serif;
  font-weight: 500;
  color: white;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

p,
li,
figcaption {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 10px 40px;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

figcaption {
  font-size: 0.7rem;
}

/* ESTILOS REUTILIZADOS EN VARIOS HTML */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.central_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
  width: 100%;
}

.central_text h1 {
  font-size: 4rem;
  max-width: 700px;
}

.central_text p {
  max-width: 400px;
}

.central_text button {
  margin-top: 20px;
}

.column_text {
  display: flex;
  flex-direction: row;
  gap: 68px;
}

.column {
  width: 362px;
}

.column p {
  margin-bottom: 20px;
}